@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.header {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    background-color: rgba(0, 0, 0, 0.24) ;
    /* background-image: url('./../../img/1.JPG');  */
}
.header p{
    padding: 5px 0;
    letter-spacing: 8px;
}